<div class="author">
    <h1 class = "author__heading">
        Hi, I am Pratham
    </h1>
    <p class="author__body">
        I am a web developer and a blogger. I love to write about web development, programming, and technology.
    </p>
</div>
<img src = "/img/King.jpg" alt = "A welcome image" class="hero-image" width = "981" height = "528">


<section class = "articles">
    <h2 class = "articles__heading">
        <ul class = "article-ul">

            <% data.forEach(post => { %>            
            <li>
                <a href = '/post/<%= post._id %>/'>
                    <span><%= post.title %></span>
                    <span class = "article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
            <% })  %>
        </ul>
    </h2>

    <% if(nextPage !== null){ %>
        <a href ="/?page=<%=nextPage%>" class = "pagination">&lt; View Older Posts</a>
    <%}%>

</section>